body {
    background: #E8E8E8;
}

#gameContainer {
    margin: 0 auto;
    width: 1020px;
    height: 760px;
    background: #000000;
    border: 1px solid black;
    -webkit-box-shadow: 1px 1px 30px rgba(153, 204, 102, 1);
    -moz-box-shadow: 1px 1px 30px rgba(153, 204, 102, 1);
    -o-box-shadow: 1px 1px 30px rgba(153, 204, 102, 1);
    -ms-box-shadow: 1px 1px 30px rgba(153, 204, 102, 1);
    box-shadow: 1px 1px 30px rgba(153, 204, 102, 1);
}

.gameLayer {
    width: 1020px;
    height: 760px;
    position: absolute;
    display: none;
}

#gameTitle {
    position: relative;
    top: 70px;
}

#subTitle {
    position: relative;
    top: 60px;
    text-align: right;
    right: 100px;
}

.logo {
    font-family: Slackey;
    margin: 0;
    text-align: center;
    color: rgb(70, 120, 20);
    font-size: 4em;
    line-height: 0.9em;
    -webkit-text-shadow: 0.05em 0.05em 0.05em rgb(255, 255, 0), -0.05em -0.05em 0.05em rgb(255, 255, 0), 0.08em 0.10em 0.10em #00f746;
    text-shadow: 0.05em 0.05em 0.05em rgb(255, 255, 0), -0.05em -0.05em 0.05em rgb(255, 255, 0), 0.08em 0.10em 0.10em #00f746;
}

.slogan {
    margin: 10px;
    padding: 10px;
    font-family: Geo;
    text-align: center;
    font-size: 2em;
    line-height: 0.9em;
    color: #eeeeee;
}

/***For main menu span only***/
.buttonText {
    padding-top: 20px;
    text-align: center;
}

.buttonText span {
    font-family: Geo;
    cursor: pointer;
    color: white;
    -webkit-text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
    text-shadow: -2px 0 purple, 0 2px purple, 2px 0 purple, 0 -2px purple;
}

.buttonText span:hover {
    color: mediumspringgreen;
}

/*-----------------------*/
#playGame {
    font-size: 3.5em;
}

#gameRules {
    font-size: 2.5em;
}

#menu {
    position: absolute;
    width: 1020px;
    height: 250px;
    top: 450px;
    display: none;
}

/**Game Status**/
#statusScreen {
    display: none;
    text-align: center;
    width: 1020px;
    height: 380px;
    top: 100px;
    left: 0;
    padding: 10px;
    text-decoration: none;
    margin: 0 auto;
}

#statusHeaderText {
    position: relative;
    margin: 20px;
    padding: 10px;
    top: 200px;
    font-family: Geo;
    font-size: 3.5em;
    line-height: 0.9em;
}

#statusFooterText {
    position: relative;
    margin: 20px;
    padding: 10px;
    top: 230px;
    font-family: Slackey;
    font-size: 2em;
    line-height: 0.9em;
    color: #ffffff;
}

/***---------Canvas--------*/
#gameCanvas {
    position: relative;
    top: -3px;
    left: -3px;
    /*background: #336666;*/
}

/***--------Lobby-----------------*/

/* Multiplayer Lobby Screen */
#multiPlayerLobbyScreen {
    position: relative;
    display: none;
    width: 1020px;
    top: 50px;
    height: 360px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    background: black;
}

#clientName {
    margin: 10px;
    font-size: 1.2em;
    width: 50%;
}

#multiPlayerGamesList {
    width: 50%;
    font-size: 1.5em;
    background: #E0E0E0;
}

#multiPlayerLobbyScreen input[type="button"] {
    position: absolute;
    border-width: 0px;
    padding: 0px;
    cursor: pointer;
}

#multiPlayerJoin {
    font-size: 1.1em;
    top: 350px;
    left: 258px;
    width: 90px;
    height: 30px;
}

#multiPlayerJoin:active {
    color: black;
}

#multiPlayerJoin:disabled {
    color: red;
}

#multiPlayerCancel {
    font-size: 1.1em;
    top: 350px;
    left: 678px;
    width: 90px;
    height: 30px;
}

#multiPlayerCancel:active, #multiPlayerCancel:disabled {
    color: black;
}